body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: "Times New Roman", sans-serif;
    
   
   
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #173b6c;

  margin-bottom: 2%;


}
h1{
  font-size: 56px;
}
h2{
  font-size: 52px;
}
h3{
  font-size: 45px;
}

p{
  color: #272829;
  font-size: 40px;
}

.intro_p{
  font-size: 50px;
}

.page_title{
  margin-top: 3%;

  color: white;
  text-align: center;
}


.contact{
  margin-top: 10px;
  font-size: 30px;
  border: 3px solid black;
  padding: 10px;

  
}

.contact li{
  margin-bottom: 10px;
}






.menuButton {

  display: inline-block;
  cursor: pointer;
  margin-left: 85%;
  margin-top: 3%;
  
  
  position: fixed;
 
  border-radius: 50%;
  background-color: #149ddd;
  padding: 10px 10px 10px 10px;
  
  
 
 
 
  
  




}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


h2{
    font-size: 52px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.hidden {
    padding: 8px;
    position: absolute;
    background: white;
    height: 30px;
    transform: translateY(-200%);
    transition: transform 0.3s;
    margin-left: 27%;

  }

  .hidden:focus {
    transform: translateY(0%);
  }

 h2::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }

.nav_menu{
  background-color: black;
  width: 25%;
  height: 100%;
  position: fixed;
  transform: translateX(-200%);
  transition: transform 0.3s;
  min-width: 200px;
}
.change .nav_menu{
  transform: translateX(0px);
}


.social-links{

   
    text-align: center;
}


.social-links a {
   
    filter: invert(1);


  }


  .social-links a:hover{
    
    filter: invert(0.5);
  }
  

.profile{
   clip-path: circle();
   width: 50%;
   display: block;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   
   
   

  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    
  }
  
  nav li a {
    display: block;
    
    color: #000;
    padding: 10%;
    text-decoration: none;
    color: white;
    font-size: 50px;
  }
  

  nav li a:hover, li a:active {
    background-color: #555;
    color: white;
    text-decoration: underline;
  }
  nav .active{
    background-color: #555;
    color: white;
    text-decoration: underline;


  }

  
  .cover_main{
   width: 100%;
   height: 100vh;
   background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("../images/sailing.jpg");
  
    background-position-x:center ;
    background-position-y:center ;
  background-size: cover;


  text-align: center;
    

  }
  .cover_portfolio{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("../images/code_background.jpg");
   
     background-position-x:center ;
     background-position-y:center ;
   background-size: cover;
 
 
   text-align: center;
  }
     
 

   .cover_work{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url("../images/work_canvas.jpg");
   
     background-position-x:center ;
     background-position-y:center ;
   background-size: cover;
 
 
   text-align: center;
     
 
   }
   
  
 
 


 
  
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
 color: white;
  margin-top: 40%;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 45px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

.learn_button{

    border: solid 3px white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
   margin-top: 2%;
    cursor: pointer;
    background-color: #173b6c;

  

    
  }

  





  main{
    background-color: #fff;
    color: navy;
    padding-bottom: 10px;
  
  }
  .content{

    margin-left: 5%;
    margin-right: 5%;
   
  }

  .portfolio_images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    max-height: 100%;
    justify-content: center;
   
    align-items: center;
  }

  /*
  OLD CODE BEFORE BUTTONS
  
  .portfolio_images img{
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 40%;

  }

  */

  
 .pic_button {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 40%;

  }

  .portfolio_images img:hover{
    transform: scale(.9);
    opacity: 0.5;

  }
  

  .bullet{
    list-style: circle;
    margin-left: 5%;
    font-size: 50px;
    text-align: left;
  }

  .skills{
    list-style:square;
    margin-left: 10%;
    font-size: 35px;
    
  }

  .nestedlist{
    margin-bottom: 5%;
  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





.work_cards_grid{
  display: grid;
  grid-template-columns: auto;
}


.work_card{
  color: black;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;


  
}

.grid-item {
  

  font-size: 45px;
  text-align: center;
}

.work_card:not(:first-child) {
  border-top: #000 solid 3px;
  margin-top: 6px;
}


.name { 
font-size: 35px;

font-weight: bold;
background-color: grey;
color: white;


}





.logo img{
  width: 250px;
  max-width: 200%;
  height: auto;
 
  

}




@media screen and (min-width: 700px){
  
.nav_menu{
  transform:translateX(0%);
}

.menuButton{
  transform: translateY(-500%);
  transition: transform 0.3s;
}

main{
  margin-left: 27%;
}

.work_card {
  grid-template-columns: auto auto;



  
}
.name{
  grid-column: 1/-1;
}

.title{
  grid-column: 1/-1;
  grid-row-start: 2;
}

.logo{
  grid-row-start: 3;
  grid-row-end: 5;
}
.place{
  grid-column: 2/-1;
  text-align: right;

}
.date{
  grid-column: 2/-1;
  text-align: right;
  
  

}

.description{
  grid-column: 1/-1;

}


.portfolio_images {

  flex-direction: row;
  justify-content: center;
}



}










@media screen and (min-width: 1000px){
  
  .nav_menu{
    transform:translateX(0%);
  }
  
  .menuButton{
    transform: translateY(-500%);
    transition: transform 0.3s;
  }
  
  main{
    margin-left: 27%;
  }

  .work_cards_grid{
    grid-template-columns: auto auto;
  }

  .work_card:not(:first-child) {
    margin-top: 0px;
  }

  

  .work_card {

    
  
    grid-template-columns: auto;
    border: 3px solid black;



  }

  .work_card:last-child{
    grid-column: 1/-1;
  }

  
  
  .title{
 
    grid-row-start: 3;
  }
  
  .logo{
    grid-row-start: 2;
    grid-row-end: 2;
    
  }
  .place{
    grid-column: 1/-1;
    text-align: center;
  
  }
  .date{
    grid-column: 1/-1;
    text-align: center;
    
    
  
  }
  
  .description{
    grid-column: 1/-1;
  
  }

  .portfolio_images {

    flex-direction:row-reverse;
    justify-content: space-around;
  }

  


  
  
  
  
  
  
  }
 
  
  

